<div class="modal fade border-danger mb-3 modal-note" id="modalNote{{_id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Note for {{_id}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#if notes}}
                {{#each notes}}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Notes:</h4>
                        <p class="previouseNotes">{{body}}</p>
                        <button type="button" class="btn btn-outline-danger deleteNote"
                            data-id="{{_id}}">Delete</button><br>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Leave a note here</h3>
                    </div>
                </div>
                {{/if}}
                <div class="form-group">
                    <textarea id="idNote{{_id}}" class="form-control" rows="5"
                        placeholder="Enter your note here"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger save-note" data-id={{_id}}>Save</button>
            </div>
        </div>
    </div>
</div>